<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.mapper.StudentMapper">
    <insert id="insert">
        INSERT INTO student
        (name,
         no,
         gender,
         phone,
         id_card,
         is_college,
         address,
         degree,
         graduation_date,
         clazz_id,
         create_time,
         update_time)
        VALUES (#{name},
                #{no},
                #{gender},
                #{phone},
                #{idCard},
                #{isCollege},
                #{address},
                #{degree},
                #{graduationDate},
                #{clazzId},
                #{createTime},
                #{updateTime})
    </insert>
    <!--    修改学员信息-->
    <update id="updateById">
        UPDATE student
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="isCollege != null">
                is_college = #{isCollege},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="degree != null">
                degree = #{degree},
            </if>
            <if test="graduationDate != null">
                graduation_date = #{graduationDate},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
            <if test="violationCount != null">
                violation_count = #{violationCount},
            </if>
            <if test="violationScore != null">
                violation_score = #{violationScore},
            </if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateViolation">
        UPDATE student
        SET
            violation_score = #{score},
            violation_count = IFNULL(violation_count, 0) + 1,
            update_time = NOW()
        WHERE id = #{id}
    </update>
    <!--    批量删除学员-->
    <delete id="deleteByIds">
        DELETE FROM student
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <!--   学员分页查询 -->
    <select id="list" resultType="com.itheima.pojo.Student">
        SELECT s.*, c.name AS clazzName
        from student s
        left join clazz c on c.id = s.clazz_id
        <where>
            <if test="name != null and name!=''">
                s.name like concat('%',#{name}, '%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
    </select>

    <!--    根据 id 查学生信息-->
    <select id="getById" resultType="com.itheima.pojo.Student">
        SELECT s.id,
               s.name,
               s.no,
               s.gender,
               s.phone,
               s.id_card,
               s.is_college,
               s.address,
               s.degree,
               s.graduation_date,
               s.clazz_id,
               s.violation_count,
               s.violation_score,
               s.create_time,
               s.update_time,
               c.name AS clazzName
        FROM student s
                 LEFT JOIN clazz c ON c.id = s.clazz_id
        WHERE s.id = #{id}
    </select>
    <select id="getStuDegreeData" resultType="java.util.Map">
        select case
                   when degree = 1 then '初中'
                   when degree = 2 then '高中'
                   when degree = 3 then '大专'
                   when degree = 4 then '本科'
                   when degree = 5 then '硕士'
                   when degree = 6 then '博士'
                   else '其他' end as name,
               count(*)               value
        from student
        group by degree
    </select>
    <!--    统计各个班级学生人数-->
    <select id="getStuCountData" resultType="java.util.Map">
        SELECT
            c.id AS clazz_id,
            c.name AS clazzName,
            COUNT(s.id) AS studentCount
        FROM clazz c
                 LEFT JOIN student s ON c.id = s.clazz_id
        GROUP BY c.id, c.name
        ORDER BY c.id
    </select>

</mapper>